<div class="topSection">
    <div class="headerSection">
        <a href="#"><img class="notify" src="assets/notifications.png" style="width=" 100% "" alt="notification"></a>
    </div>
    <div class="profileDetails">
        <div class="profilePicture">
            <img src="assets/prof_pic.png" class="img-circle" alt="Circular Image">
            <span class="profileName">John Doe Levinson</span>
            <span class="profileDesig"><small>Software Engineer</small></span>
        </div>
    </div>
    <div class="navigation">
        <ul class="list-inline">
            <li class="col-xs-4 col-md-4"><a href="#/myChallenges"><span class="count">5</span>CHALLENGES</a></li>
            <li class="col-xs-4 col-md-4"><a href="#/myIdeas"><span class="count">7</span>IDEAS</a></li>
            <li class="col-xs-4 col-md-4"><a href="#/trendingChallenges"><span class="count">7</span></span>TRENDS</a></li>
        </ul>
    </div>
</div>
<div class="middleSection">
    <div class="searchBar">
        <div class="searchDiv  col-xs-11 col-md-11">
            <a href="#/searchChallenges" class="searchChallengesAnchor">
                <input type="text" placeholder="Search Challenges" value="" name="search" id="search">
            </a>
        </div>
        <div class="sortBy col-xs-1 col-md-1">
            <img src="assets/sort_icon.png" alt="sort">
        </div>
        <div class="sortByDropDown" style="display:none">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Author</a></li>
                <li class="list-group-item"><a href="#">Date</a></li>
                <li class="list-group-item"><a href="#">Ideas - High to Low</a></li>
                <li class="list-group-item"><a href="#">Ideas - Low to High</a></li>
                <li class="list-group-item"><a href="#">Newest First</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- <page-navigation currentTab="newChallenge"></page-navigation> -->


<!--code for new Challenge-->
<div class="mainContent">
    <div class="bottomSection">    
        <h1 class="navTitle">New Challenge</h1>
        <div class="col-xs-12 col-md-12">
          <select ng-options="category.name as category.name for category in categories" class="col-xs-12 col-md-12 divpadding" ng-model="category" style="background-color:#f1f1f1;" name="category">Choose
            </select>
        </div>

        <div class="col-xs-12 col-md-12">
          <textarea ng-model="description" class="col-xs-12 col-md-12 divpadding" name="description" placeholder="Write a description of the challenge..." style="background-color:#f1f1f1;"  maxLength='100'></textarea>
        </div>  
        
        <div class="col-xs-12"> 
          <button ng-model="postChallenge" ng-click="postChallenge();" class="col-xs-12 btn btn-secondary divpadding">POST CHALLENGE</button>   
        </div>

</div>