<div ng-controller='newIdeaCtrl'>
	<div class="superDiv">
		<div class="newIdeaDiv">
			<img class="" id="backImage" src= "assets/back_arrow.png" />
			<label for="newIdea" class="newIdeaLabel"> My Challenges </label>
		</div>
		<div class="spandiv">
		<span> System access denied in the visualization lab
			lorem ipsum const lipsum et aliete access denied in the visualization lab lorem ipsum </span>
		</div>
	</div>

	<div class="childDiv">
		<div class="enterNewIdeaDiv">
			<img class="pull-left " id="cameraImage" src= "assets/camera_icon.png" />
			<img class="" id="videoImage" src= "assets/video_icon.png" />
			<img class="" id="smileyImage" src= "assets/smiley_icon.png" />
			<img class="" id="attachImage" src= "assets/attach.jpg" />
			<img class="pull-right" id="sendImage" src= "assets/send.png" />
		</div>
		<div class="textAreaDiv">
		<textarea placeholder="Write something here ..." id="textAreaText"></textarea>
		</div>
	</div>
</div>