<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10 popupTitle">New Challenge</div>
        <div class="col-md-2 col-sm-2 col-xs-2 popupClose">
            <img src="assets/close.png" class="btn pull-right" ng-click="close()"/>
        </div>
    </div>

    <div class="popupContent">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                Your New Challenge has been added successfully.
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 popupFooter">
            <button class="btn btn-primary custom-app-btn" ng-click="save()">OK</button>
        </div>
    </div>
</div>
