<div ng-controller='newIdeaCtrl'>
	<div class="superDiv">
		<div class="newIdeaDiv">
			<img class="pull-left" id="backImage" src= "assets/back_arrow.png" />
			<label for="newIdea" class="newIdeaLabel"> System access denied in the visualiza.... </label>
		</div>
		<div class="spandiv">
		<span> You can raise the ITSR in the system or chat with the service desk to get the fast eit aliet. you can raise the ITNSR or contact with network 
		</span>
		</div>
	</div>

	<div class="childDiv">
		<div class="enterNewIdeaDiv">
			<img class="pull-left" id="smileyImage" src= "assets/smiley_icon.png" />
			
			<img class="pull-right" id="sendImage" src= "assets/send.png" />
		</div>
		<div class="textAreaDiv">
		<textarea placeholder="Write something here ..." id="textAreaText"></textarea>
		</div>
	</div>
</div>
