@import '../../vendor/bootstrap/less/bootstrap.less';

@import 'variables.less';

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

.page-header {
    margin-top: 60px;

    color: #fff;
    background: rgb(78, 80, 82);
}

.cg-busyspinner {
    position: fixed;
    z-index: 9999;
    top: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0 auto;
}

.popupContent {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.popupTitle {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
  color: rgb(103, 103, 103);
}

.popupClose {
  padding-right: 0;
}

.popupFooter {
  padding-top: 20px;
  padding-bottom: 20px;
}


@import '../app/app.less';
@import '../app/pageheader/pageheader.less';
@import '../app/landing/landing.less';
@import '../app/trendingChallenges/trendingChallenges.less';
/*@import '../app/trendingChallenges/trendingChallengesDetail/trendingChallengesDetail.less';*/
@import '../app/myChallenges/myChallenges.less';
@import '../app/challengeDetail/challengeDetail.less';
@import '../app/newChallenge/newChallenge.less';
@import '../app/newIdea/newIdea.less';
@import '../app/newComment/newComment.less';
@import '../app/searchChallenges/searchChallenges.less';
@import '../app/actionSave/actionSave.less';



