
.searchChallengesAnchor {
  color: #794695;
}
.searchChallengesDiv {
  background-color: #794695;
}

#searchText::-moz-placeholder {
  font-size: 18px;
  color: #fff;
  text-align: left !important;
}

.searchChallengesDiv input#searchText {
  border: none;
  width: 50%;
  height: 50px;

  background: transparent;
  font-size: 15px;
  color: #fff;
}

.recentSearchesDiv {
  padding: 15px 30px 10px 35px;
}

.myFavoritesDiv {
  padding: 0 30px 10px 35px;
}

.recentSearches, .myFavorites {
  font-size: 16px;
}

#recentSearchList, #myFavoriteList {
  padding-left: 30px;
  padding-right: 30px;
}

.smallText {
  font-size: 13px;
  color: #a9a9a9;
  font-weight: bold;
}

#searchImage, #close {
  padding: 15px;
}

.superDiv {
  opacity: 0.4;
}

.newIdeaDiv, .enterNewIdeaDiv {
  background-color: #794695;
}

#backImage {
  /*padding: 18px 0 0 25px;*/
  width: 30px;
  height: 26px;
  margin-left: 10px;
}

.newIdeaLabel {
  border: none;
  height: 50px;
  background: transparent;
  font-size: 17px;
  color: #fff;
  padding: 16px 0 0 25px;
}

.spandiv {
  padding: 20px;
}

.enterNewIdeaDiv {
  height: 50px;
}

#cameraImage {
  /*padding: 15px 0 0 30px;*/
  margin: 10px;
}

#videoImage, #smileyImage, #attachImage {
  /*padding: 13px 0 0 40px;*/

   margin: 10px;
}

#sendImage {
  /*padding: 12px;*/
  margin: 10px;
}

.textAreaDiv {
  padding: 30px;
}

.childDiv {
  padding-top: 20px;
}

#textAreaText {
  border: none;
  width: 100%;
  height: 300px;
}

