<div class="topSection">
    <div class="headerSection">
        <a href="#"><img class="notify" src="assets/notifications.png" style="width=" 100% "" alt="notification"></a>
    </div>
    <div class="profileDetails">
        <div class="profilePicture">
            <img src="assets/prof_pic.png" class="img-circle" alt="Circular Image">
            <span class="profileName">John Doe Levinson</span>
            <span class="profileDesig"><small>Software Engineer</small></span>
        </div>
    </div>
    <div class="navigation">
        <ul class="list-inline">
            <li class="active col-xs-4 col-md-4"><a href="#/trendingChallenges"><span class="count">5</span>TRENDS</a></li>
            <li class="col-xs-4 col-md-4"><a href="#/myIdeas"><span class="count">7</span>IDEAS</a></li>
            <li class="col-xs-4 col-md-4"><a href="#/newChallenge"><span class="plusIcon"><img src="assets/plus_icon.png" alt="new challenges"></span>NEW CHALLENGES</a></li>
        </ul>
    </div>
</div>
<div class="middleSection">
    <div class="searchBar">
        <div class="searchDiv  col-xs-11 col-md-11">
            <a href="#/searchChallenges" class="searchChallengesAnchor">
                <input type="text" placeholder="Search Challenges" value="" name="search" id="search">
            </a>
        </div>
        <div class="sortBy col-xs-1 col-md-1">
            <img src="assets/sort_icon.png" alt="sort">
        </div>
        <div class="sortByDropDown" style="display:none">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Author</a></li>
                <li class="list-group-item"><a href="#">Date</a></li>
                <li class="list-group-item"><a href="#">Ideas - High to Low</a></li>
                <li class="list-group-item"><a href="#">Ideas - Low to High</a></li>
                <li class="list-group-item"><a href="#">Newest First</a></li>
            </ul>
        </div>
    </div>
</div>

    <!-- <page-navigation currentTab="myChallenge"></page-navigation> -->
   

    <div class="mainContent">
		<div class="bottomSection">
		<h1 class="navTitle">My Challenges</h1>
		<div class="list-group" >
			<a class="list-group-item" ng-repeat="i in [0, 1, 2, 3 , 4]" href="#/challengeDetail">
				<div class="description col-xs-8 col-md-10" ng-click="trendingDetails();">
					<p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>
					<small>Posted by abr on 14 October, 2014</small>
				</div>
				<div class="ideasCount col-xs-3 col-md-1">
					<div>34 <small>IDEAS</small></div>
				</div>
				<span class="challengeDetails col-xs-1 col-md-1"></span>
			</a>			
		</div>
	</div>
</div>	