	<div class="searchChallengesDiv">
		<img class="pull-left" id="searchImage" src= "assets/searchImage.png" />
		<input type="text" id="searchText" placeholder="Search Ideas" ng-model="selected" typeahead="name for name in ideas | filter:$viewValue" typeahead-min-length= 2 />
		<a class=""><img class="pull-right" id="close" src= "assets/close.png" ng-click="back()" /></a>
	</div>

	<div class="recentSearchesDiv"><span class="recentSearches">Recent Searches</span>
	</div>

	 <ul class="list-group" id="recentSearchList">
  		<li class="list-group-item">System Test</li>
  		<li class="list-group-item">IP Configuration</li>
  		<li class="list-group-item">Desk Isuue</li>
  		<li class="list-group-item">VoIP</li>
	</ul>
</div>