<div class="middleSection">

	<div class="headerSection col-xs-12 col-md-12">
		<a href="#"><img class="notify" src="assets/notifications.png" style="width="100%"" alt="notification"></a></div>
		<div class="profileDetails col-xs-12 col-md-12"> 
			<div class="navigation">
				<ul class="list-inline">
					<!-- <li class="active col-xs-4 col-md-4" ng-hide="tab === 'trend'"><a href="#/trendingChallenges"><span class="count">5</span>TRENDS</a></li>

					<li class="active col-xs-4 col-md-4" ng-hide="tab === 'myChallenge'"><a href="#/myChallenges"><span class="count">5</span>CHALLENGES</a></li>

					<li class="col-xs-4 col-md-4" ng-hide="tab === 'myIdea'"><a href="#"><span class="count">7</span>IDEAS</a></li>

					<li class="col-xs-4 col-md-4" ng-hide="tab === 'newChallenge'"><a href="#/newChallenge"><span class="plusIcon"><img src="assets/plus_icon.png" alt="new challenges"></span>NEW CHALLENGES</a></li> -->


					<li class="active col-xs-4 col-md-4"><a href="#/trendingChallenges"><span class="count">5</span>TRENDS</a></li>
					
					<li class="active col-xs-4 col-md-4"><a href="#/myChallenges"><span class="count">5</span>CHALLENGES</a></li>

					<li class="col-xs-4 col-md-4"><a href="#"><span class="count">7</span>IDEAS</a></li>

					<li class="col-xs-4 col-md-4"><a href="#/newChallenge"><span class="plusIcon"><img src="assets/plus_icon.png" alt="new challenges"></span>NEW CHALLENGES</a></li>
				</ul>
			</div>

			<div class="profilePicture">
				<img src="assets/prof_pic.png" class="img-circle" alt="Circular Image">
				<span class="profileName">John Doe Levinson</span>
				<span class="profileDesig"><small>Software Engineer</small></span>
			</div>
		</div>


		<div class="searchBar col-xs-12 col-md-12">
			<div class="searchDiv  col-xs-10 col-md-11">
				<input type="text" placeholder="Search Challenges" value="" name="search" id="search">
			</div>
			<div class="sortBy col-xs-2 col-md-1">
				<img src="assets/sort_icon.png" alt="sort">
			</div>

			<div class="sortByDropDown" style="display:none">
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Author</a></li>
					<li class="list-group-item"><a href="#">Date</a></li>        
					<li class="list-group-item"><a href="#">Ideas - High to Low</a></li>
					<li class="list-group-item"><a href="#">Ideas - Low to High</a></li>
					<li class="list-group-item"><a href="#">Newest First</a></li>
				</ul>
			</div>
		</div>  
	</div>
