<!DOCTYPE html>
<html ng-app="ideas" ng-controller="AppCtrl">
<head>

	<title ng-bind="pageTitle">Ideas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"charset="UTF-8" >

	<% styles.forEach( function ( file ) { %>
	<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

	<% scripts.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script><% }); %>
	<script>var versionNumber=0;</script>
</head>

<body>
	
	<div id="page-view">
		<page-header app-name="'CSC <span class=pageheader-text>Ideates</span>'" user-name="userName">
		</page-header>
		
		<div ui-view="main"></div> 
			
	</div>
	<div cg-busy="{ promise: myPromise, message: 'Please wait...', wrapperClass: 'cg-busyspinner' }">
	</div>
	<!--<div class="footer">
		<p class="app-footer">(c)2016 CSC Corporation. All Rights Reserved</p>
	</div>-->
</body>
</html>
