<div class="topSection">
    <div class="headerSection">
        <a href="#"><img class="notify" src="assets/notifications.png" style="width=" 100% "" alt="notification"></a>
    </div>
    <div class="profileDetails">
        <div class="profilePicture">
            <img src="assets/prof_pic.png" class="img-circle" alt="Circular Image">
            <span class="profileName">John Doe Levinson</span>
            <span class="profileDesig"><small>Software Engineer</small></span>
        </div>
    </div>
    <div class="navigation">
        <ul class="list-inline">
            <li class="active col-xs-4 col-md-4"><a href="#/myChallenges"><span class="count">5</span>CHALLENGES</a></li>
            <li class="col-xs-4 col-md-4"><a href="#/myIdeas"><span class="count">7</span>IDEAS</a></li>
            <li class="col-xs-4 col-md-4"><a href="#/newChallenge"><span class="plusIcon"><img src="assets/plus_icon.png" alt="new challenges"></span>NEW CHALLENGES</a></li>
        </ul>
    </div>
</div>
<div class="middleSection">
    <div class="searchBar">
        <div class="searchDiv  col-xs-11 col-md-11">
            <a href="#/searchChallenges" class="searchChallengesAnchor">
                <input type="text" placeholder="Search Challenges" value="" name="search" id="search">
            </a>
        </div>
        <div class="sortBy col-xs-1 col-md-1">
            <img src="assets/sort_icon.png" alt="sort" ng-click="showSortDropDown();">
        </div>
        <div class="sortByDropDown" ng-show="IsVisible">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" ng-click="sortByAuthor();">Author</a></li>
                <li class="list-group-item">
                    <a href="#" ng-click="sortByCreatedDate();">Date</a></li>
                <li class="list-group-item">
                    <a href="#" ng-click="sortByIdeasHigh();">Ideas - High to Low</a></li>
                <li class="list-group-item">
                    <a href="#" ng-click="sortByIdeasLow();">Ideas - Low to High</a></li>
                <li class="list-group-item">
                    <a href="#" ng-click="sortByNewest();">Newest First</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- <page-navigation currentTab="trend"></page-navigation> -->
<div class="mainContent">
    <div class="bottomSection">
        <h1 class="navTitle">Trending Challenges</h1>
        <div class="list-group">
            <a class="list-group-item" ng-repeat="trends in trendingChallengesJSON">
                <div class="description col-xs-8 col-sm-9 col-md-10" ng-click="trendingDetails();">
                    <p class="list-group-item-text">{{trends.description}}</p>
                    <small>Posted by {{trends.author}} on {{trends.date | date:'dd MMMM, yyyy'}}</small>
                </div>
                <div class="ideasCount col-xs-3 col-sm-2 col-md-1">
                    <div>{{trends.ideasCount}} <small>IDEAS</small></div>
                </div>
                <span class="challengeDetails col-xs-1 col-sm-1 col-md-1"></span>
            </a>
        </div>
    </div>
</div>
