@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans';
  background-color: #fff;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

.topSection,
.bottomSection {
  float: left;
  display: block;
  width: 100%;
}

.headerSection {
  background: url('../assets/header_bg.png') no-repeat;
  height: 100px;
  background-size: 100%;
}

.profileDetails span.profilePicture {
  display: block;
  position: relative;
}

.list-inline li:first-child {
  padding-left: 15px;
}

.navigation .list-inline li {
  font-size: 0.72em;
  border-right: #d7c8df solid 2px;
}

.navigation .list-inline li span {
  font-size: 1.6em;
  font-weight: bold;
  color: #794695;
  display: block;
  text-align: left;
}

span.plusIcon img {
  width: 13px;
  padding-bottom: 5px;
}


/* Shruthi: duplicate css commented /*
/*.searchDiv input#search::-moz-placeholder,
.searchDiv input#search:-moz-placeholder,
.searchDiv input#search::-ms-input-placeholder {
  color: #9f8ca8;
}*/

::-webkit-input-placeholder {
  color: #9f8ca8;
  font-size: 0.9em;
  padding-left: 5px;
}

.navigation {
  background-color: #fff;
  top: 90px;
  position: relative;
  display: block;
}

.navigation li:last-child {
  border-right: none;
}

.navigation ul.list-inline li a {
  display: block;
  padding: 5px;
  color: #794695;
}

.sortByDropDown li a {
  color: #999;
  display: block;
  font-size: 0.75em;
  padding: 0px;
}

.bottomSection .list-group-item {
  padding: 0px;
}

.mainContent a.list-group-item {
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin: -3px;
  padding-left: 15px;
  border-right: none;
}

.mainContent .description,
.mainContent .ideasCount,
.mainContent .challengeDetails {
  height: 100%;
  float: left;
}

.mainContent .description {
  color: #63635b;
}

.mainContent .description small {
  color: #888888;
  margin-left: 20px;
  font-size: 1em;
}

.mainContent .challengeDetails {
  background: url('../assets/side_arrow.png') no-repeat 8px 16px;
  background-size: 10px;
  margin-left: -2px;
}

.mainContent .ideasCount div {
  background-color: #fcf6ea;
  display: block;
  width: 62px;
  height: 52px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  padding-top: 10px;
  font-weight: bold;
}

.mainContent .ideasCount small {
  font-weight: normal;
  display: block;
  padding-top: 5px;
  font-size: 0.75em;
}

.sortByDropDown li a:hover {
  text-decoration: none;
  color: #000;
}

/* Shruthi: duplicate style /*
/*.searchDiv input#search {
  border: none;
  border-bottom: #794695 solid 1px;
  outline: none;
  width: 100%;
  background-color: #f1f7f7;
  background: url('../assets/search_icon.png') no-repeat 0px 0px;
  background-size: 15px;
  padding-left: 20px;
  height: 20px;
}*/

.sortBy img {
  width: 25px;
}

.description {
  font-size: 0.6875em;
  background: url('../assets/home_page_star.png') no-repeat;
  background-size: 12px;
}

.sortBy,
.searchDiv {
  padding: 15px;
  padding-bottom: 12px;
}

.searchDiv {
  float: left;
  padding: 13px;
  width: 94.66%;
  padding-top: 25px;
}

.sortBy {
  padding: 20px;
  cursor: pointer;
  padding-left: 0px;
  width: 5.33%;
}

.mainContent h1 {
  color: #bdb41b;
  font-size: 1.0625em;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.description p.list-group-item-text {
  height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.1em;
  margin-left: 20px;
  padding-right: 10px;
}

.mainContent .ideasCount {
  color: #b9b19e;
  font-size: 1.25em;
}

/*@media only screen and (max-device-width: 1024px) {*/
.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
  margin: 7.5px -15px;
  background-color: #f5f5f5;
  width: 300px;
}

.navbar-nav > li {
  float: none;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-collapse.collapse.in {
  display: block !important;
  position: fixed;
  top: 50px;
}

.navbar-toggle {
  position: fixed;
  top: 0px;
}

.navbar {
  position: absolute;
  min-height: 0px;
  margin-bottom: -2px;
  border: none;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav a,
.navbar-default .navbar-nav a:focus,
.navbar-default .navbar-nav a:hover {
  border-bottom: #fff solid 1px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 50px;
  height: 5px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 8px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: transparent;
}

/*@media only screen and (min-device-width: 1280px) {*/
body {
  background-color: #f1f7f7;
  font-size: 15px;
}

.headerSection img.notify {
  width: 35px;
  position: absolute;

  /*right: -950px;*/
  right: 20px;
  z-index: 1;
  top: 10px;
}

.topSection {
  width: 22%;
  height: 834px;
  position: relative;
  box-shadow: 0px 0px 5px 3px #ccc;
  background-color: #fff;
}

.bottomSection {
  box-shadow: 0px -3px 6px 0px #cccccc;
  background-color: #fff;
}

.middleSection .navigation .list-inline {
  padding-top: 100px;
}

.mainContent .ideasCount {
  font-size: 2.5em;
}

.mainContent .ideasCount small {
  font-size: 0.5em;
}

.profileDetails {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 100px;
  background-image: url('../assets/header_bg.png');
}

.mainContent .ideasCount div {
  padding-top: 15px;
}

.profileName {
  color: #794695;
  display: block;
  font-weight: 600;
  letter-spacing: 0.5px;
  top: 140px;
  padding-left: 15px;
  font-size: 1.4em;
  position: absolute;
}

.profileDesig {
  color: #794695;
  position: absolute;
  padding-left: 15px;
  top: 170px;
  display: block;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav > li {
  width: 100%;
  list-style-type: none;
}

.navbar-nav > li > a {
  padding: 15px;
  padding-left: 80px;
}

.navbar-default .navbar-nav a {
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
  width: auto;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.profilePicture img {
  width: 80px;
  position: initial;
  top: 50px;
  left: 15px;
  margin-bottom: 20px;
  position: absolute;
}

.sortByDropDown {
  width: 185px;
  top: 50px;
  position: absolute;
  z-index: 1;
  right: 0;
}

.mainContent a.list-group-item {
  margin-left: 0px;
  border-left: none;
  height: 115px;
  border-radius: inherit;
}

.description p.list-group-item-text {
  height: 69px;
  line-height: 1.8;
}


/* Shruthi: commented the duplicate css for search div /*
/*.searchDiv input#search {
  background-size: 17px;
  padding-left: 25px;
  padding-bottom: 7px;
}*/

.sortBy img {
  width: 35px;
}

.mainContent h1 {
  font-size: 1.7em;
}

.mainContent .description small {
  font-size: 1.2em;
}

span.plusIcon img {
  width: 16px;
}

/*}
*/

/*added by Babita*/
#CSCIdeates {
  height: 80%;
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 9999;
  font-size: 12px;
  background-color: #D7C8DF;
}

.app-footer {
  margin: 0;
}

.leftMenuIcon {
  height: 15px;
  width: 15px;
  padding-right: 10px;
}

.leftPanelList {
  list-style-type: none;
  padding: 0;
}

.leftPanelList li {
  padding: 10px 10px 10px 25px;
}

.leftNav {
  margin-top: 35px;
}

.navigation .list-inline ul {
  display: inline;
  list-style-type: none;
}

.navigation .list-inline li {
  font-size: 0.9em;
  display: inline-flex;
}

.searchBar {
  position: absolute;
  top: 290px;
}

.mainContent {
  background: #fff;
}
   
.mainContent h1 {
  color: #bdb41b;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.7em;
}

.mainContent .description {
  font-size: 0.6875em;
  background: url('..//assets/home_page_star.png') no-repeat 0% 7%;
  background-size: 18px;
  color: #63635b;
}

.mainContent .description,
.mainContent .ideasCount,
.mainContent .challengeDetails {
  height: 100%;
  float: left;
}

.mainContent .description small {
  color: #888888;
  margin-left: 20px;
  font-size: 1.2em;
  display: block;
}

.mainContent .ideasCount div {
  background-color: #fcf6ea;
  display: block;
  width: 85px;
  height: 85px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  padding-top: 15px;
  font-weight: bold;
}

.mainContent .ideasCount small {
  font-weight: normal;
  display: block;
  padding-top: 5px;
  font-size: 0.5em;
}

.description p.list-group-item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.3em;
  margin-left: 20px;
  padding-right: 10px;
  height: 69px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.mainContent .ideasCount {
  color: #b9b19e;
  font-size: 2.5em;
}

.topSection {
  width: 100%;
  height: 270px;
}

.searchBar {
  position: relative;
  top: 0px;
}

.mainContent .challengeDetails {
  background: url('../assets/side_arrow.png') no-repeat 55px 40px;
  background-size: 16px;
  margin-left: -2px;
}

/*@media only screen and (max-device-width: 767px) {*/
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    body {
      font-size: 10px;
    }

    ::-webkit-input-placeholder {
      font-size: 0.9em;
    }

    .mainContent .challengeDetails {
      background: transparent url("../assets/side_arrow.png") no-repeat scroll 8px 27px;
      background-size: 9px;
      height: 72px;
    }

    .mainContent .ideasCount div {
      padding-top: 5px;
      width: 55px;
      height: 55px;
    }

    .mainContent a.list-group-item {
      height: auto;
    }

    .description p.list-group-item-text {
      margin-left: 10px;
      padding-right: 0px;
      height: 50px;
      margin-bottom: 5px;
    }

    .mainContent .description small {
      margin-left: 10px;
    }

    .mainContent .description {
      background-size: 13px;
    }

    .mainContent .description,
    .mainContent .challengeDetails,
    .mainContent .ideasCount {
      padding-left: 8px;
      padding-right: 8px;
    }

    .mainContent .description {
      padding-left: 15px;
    }

    .headerSection {
      height: 98px;
    }

    .profilePicture img {
      width: 60px;
      top: 70px;
      left: 15px;
    }

    .topSection {
      height: 250px;
    }

    .sortBy img {
      width: 25px;
    }

    .sortByDropDown {
      width: 115px;
      top: 293px;
    }

    .searchDiv{
      width: 90%;
      padding-top: 13px;
    }

    
/* Shruthi: duplicate css /*
    /*.searchDiv input#search {
      background-size: 12px;
      padding-left: 20px;
      background: url('../assets/search_icon.png') no-repeat 4px 4px;
      background-size: 13px;
    }*/

    span.plusIcon img {
      width: 11px;
    }

    .headerSection img.notify {
      width: 20px;
    }
  }

  @media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .mainContent .description {
      width: 75%;
    }

    .mainContent .ideasCount {
      width: 16.66666667%;
    }

    body {
      font-size: 12px;
    }

    .topSection {
      height: 255px;
    }

    .description p.list-group-item-text {
      height: 55px;
    }

    .mainContent .ideasCount {
      font-size: 2em;
    }

    .mainContent .challengeDetails {
      background: transparent url("../assets/side_arrow.png") no-repeat scroll 15px 27px;
      background-size: 9px;
    }
  }

  @media only screen and (min-device-width: 568px) and (max-device-width: 767px){
    .mainContent .description {
      width: 79%;
    }

    .mainContent .ideasCount {
      width: 13%;
    }
    .mainContent .challengeDetails {
      width: 7.33%;
    }
  }

  @media only screen and (min-device-width: 667px) and (max-device-width: 767px){
    .mainContent .challengeDetails {
      width: 5.33%;
    }

    .mainContent .description {
      width: 81%;
    }
  }

  @media only screen and (min-device-width: 736px) and (max-device-width: 767px){
    .mainContent .description {
      width: 83%;
    }

    .mainContent .ideasCount {
      width: 11%;
    }
  }
/*}*/

/*@media only screen and (max-device-width: 1023px) {*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
    .mainContent .challengeDetails {
      background: transparent url("../assets/side_arrow.png") no-repeat scroll 15px 40px;
      background-size: 16px;
    }
  }

  @media only screen and (min-device-width: 980px) and (max-device-width: 1023px){
    .mainContent .description {
      width: 82%;
    }

    .mainContent .ideasCount {
      width: 12.667%;
    }

    .mainContent .challengeDetails {
      width: 5.33%;
    }
  }
/*}*/


