<div>
	<div class="home"><a href="#/myChallenges"><img src="assets/back_arrow.png" alt="back">Home</a></div>
	<div class="challengeDesp">
		<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>
		<div>
			<span class="postDetails col-xs-10 col-md-10 postDetailsWidth">Posted by abr on 14 October, 2014</span>
			<span class="challengesDropDown col-xs-2 col-md-2 challengesDropDownWidth"><img src="assets/ellipsis.png" alt="Drop Down">
				<div class="editDropDown" style="display:none">
					<ul class="list-group">
						<li class="list-group-item"><a href="#">Edit</a></li>
						<li class="list-group-item"><a href="#">Delete</a></li>
					</ul>
				</div>
			</span>
		</div>
		<div class="challengeItems">
			<span class="newIdea" ng-click="newIdea()">New Idea</span>
			<span class="favorite" ng-click="addToFav()">Favorite</span>
		</div>
	</div>	

	<div class="searchContainer col-xs-12 col-md-12">
        <div class="searchDiv  col-xs-10 col-md-11">            
            <a href="#/searchIdeas" class="searchChallengesAnchor">
                <input type="text" placeholder="Search Ideas" value="" name="search" id="search">
            </a>
        </div>
        <div class="sortBy col-xs-2 col-md-1">
            <img src="assets/sort_icon.png" alt="sort">
        </div>

        <div class="sortByDropDown" style="display:none">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Author</a></li>
                <li class="list-group-item"><a href="#">Date</a></li>        
                <li class="list-group-item"><a href="#">Ideas - High to Low</a></li>
                <li class="list-group-item"><a href="#">Ideas - Low to High</a></li>
                <li class="list-group-item"><a href="#">Newest First</a></li>
            </ul>
        </div>
    </div>	


	<div class="bottomSection">
		<div class="listContent">
			<div class="list-group">
				<div class="list-group-item1" ng-repeat="i in [0, 1, 2, 3]">
					<div collapse="!isCollapsed" class="idea">
						<p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>	
					</div>
                    <div collapse="isCollapsed" class="idea">
                        <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>  
                    </div>  
					<div class="postDetails"><small>Posted by abr on 14 October, 2014</small></div>
					<div class="ideaItems">
						<span class="like">15</span><span class="dislike">6</span><span class="comment">7</span>
					</div>
					<span class="ideaDetails"></span>
					
                     <a href="#" ng-click="isCollapsed = !isCollapsed">
                        <img ng-show="!isCollapsed" class="arrowDown" src="assets/down_arrow.png">
                        <img ng-show="isCollapsed" class="arrowDown" src="assets/up_arrow.png">
                    </a>							
			</div>
		</div>
	</div>

</div>