.idea {
  font-size: 0.6875em;
  background-size: 12px;
  height: 32px;
  overflow: hidden;
  font-size: 0.87em;
}

/*.bottomSection {
  width: 100%;
  float: left;
}*/


.listContent{
  position: relative;
  /*top: 20px;*/
  background: #fff; 
 }

.listContent a.list-group-item {
  height: auto;
  padding-right: 49px;
  /*background: url('../assets/down_arrow.png') no-repeat;
  background-size: 15px;
  background-position-y: 100px;
  background-position-x: 295px;*/
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 20px;  
}

.listContent a img{
  position: relative;
  bottom: 20px;
  width: 20px;
  height: 10px;
  float: right;
}

.list-group-item1 {
  height: auto;
  padding-right: 49px;
  /*background: url('../assets/down_arrow.png') no-repeat;
  background-size: 15px;
  background-position-y: 100px;
  background-position-x: 295px;*/
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 20px;  
}

.arrowDown{
  position: relative;
  bottom: 20px;
  float: right;
}

.home {
  height: 50px;
  background-color: #794695;
  padding: 15px;
  padding-left: 22px;
  color: #fff;
}

.home img {
  width: 25px;
  padding-right: 10px;
}

.challengeDesp {
  padding: 15px;
  background-color: #fff;
}

.challengeDesp p {
  font-size: 0.9em;
  margin-bottom: 0px;
}

.challengeDesp .postDetails {
  color: #888;
  font-size: 0.8em;
}

.challengesDropDown img {
  width: 16px;
  background: url('../assets/ellipsis.png') no-repeat;
  background-position: 255px;
}

.searchContainer {
  /*height: 66px;
  background-color: #F1F7F7;
  box-shadow: inset 3px 0px 5px 0px #ccc;
  padding-left: 15px;*/
  position: relative;
  /*top: 20px;*/
}

.widthSearch {
  width: 87%;
}

.widthSort {
  width: 9.666667%;
}

.searchDiv {
  padding-right: 5px;
}

.challengeItems {
  font-size: 0.82em;
  color: #794695;
  padding-top: 40px;
}

.editDropDown {
  display: block;
  z-index: 1;
  position: absolute;
  right: 10px;
  width: 70px;
}

.editDropDown li {
  padding: 5px 10px;
  text-align: center;
}

.editDropDown li:first-child,
.editDropDown li:last-child {
  border-radius: initial;
}

.editDropDown li a {
  color: #888;
  font-size: 0.75em;
}

.challengeItems .newIdea {
  background: url('../assets/plus_icon.png') no-repeat;
  background-size: 13px;
  padding-left: 22px;
  padding-right: 20px;
  background-position-y: 2px;
  cursor: pointer;
}

.challengeItems .favorite {
  background: url('../assets/challenges_star_unfilled.png') no-repeat;
  background-size: 13px;
  padding-left: 22px;
  background-position-y: 2px;
  cursor: pointer;
}

.postDetails {
  padding-top: 5px;
  font-size: 0.9em;
  color: #888888;
}

.ideaItems {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ideaItems span {
  cursor: pointer;
}

.like {
  background: url('../assets/thumbs_up.png') no-repeat;
  background-size: 12px;
  padding-left: 17px;
  padding-right: 20px;
  font-size: 0.75em;
}

.dislike {
  background: url('../assets/thumbs_down.png') no-repeat;
  background-size: 12px;
  padding-left: 17px;
  padding-right: 20px;
  font-size: 0.75em;
  background-position-y: 2px;
}

.comment {
  background: url('../assets/comments.png') no-repeat;
  background-size: 12px;
  padding-left: 17px;
  font-size: 0.75em;
  background-position-y: 2px;
}

@media only screen and (min-device-width: 768px) {
  /*.listContent a.list-group-item {
    height: 192px;
    background-size: 30px;
    background-position-y: 150px;
    background-position-x: 700px;
  }*/
  .challengeDesp p {
    font-size: 1em;
  }
  .challengeDesp .postDetails {
    font-size: 0.85em;
  }
  .challengesDropDown img {
    width: 30px;
  }
  .challengeItems {
    padding-top: 60px;
  }
  .challengeItems .newIdea {
    background-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .challengeItems .favorite {
    background-size: 22px;
    padding-left: 40px;
  }
  .challengeDesp {
    padding: 30px;
  }
  .challengeItems {
    font-size: 0.9em;
  }
  /*.searchContainer {
    height: 79px;
  }*/
  .idea {
    height: 59px;
    font-size: 0.9em;
  }
  .postDetails {
    font-size: 1em;
  }
  .like,
  .dislike,
  .comment {
    background-size: 22px;
    padding-left: 30px;
    font-size: 0.9em;
  }
  .dislike,
  .comment {
    background-position-y: 6px;
  }
  .like,
  .dislike {
    padding-right: 56px;
  }
  .ideaItems {
    padding-top: 15px;
  }
  .home {
    height: 70px;
  }
  .home img {
    width: 33px;
    padding-right: 10px;
  }
  .home a {
    color: #fff;
  }
  .challengesDropDownWidth {
    width: 7%;
  }
  .postDetailsWidth {
    width: 92.333333%;
  }
  .editDropDown li {
    padding: 10px 20px;
  }
  .editDropDown li a {
    font-size: 0.85em;
  }
  .editDropDown {
    width: 150px;
  }
}

@media only screen and (min-device-width: 980px) {
  .widthSort {
    width: 5.666667%;
  }
  .searchDiv.col-xs-10.col-md-10 {
    width: 95%;
    float: left;
    margin-right: 85px;
  }
  /*.listContent a.list-group-item {
    height: 137px;
    padding-right: 49px;
    background: url('../assets/down_arrow.png') no-repeat;
    background-size: 15px;
    background-position-y: 100px;
    background-position-x: 1320px;
  }*/
 
  .like,
  .dislike,
  .comment {
    background-size: 17px;
  }
  .dislike,
  .comment {
    background-position-y: 2px;
  }
  .idea {
    height: 40px;
  }
  /*.searchContainer {
    padding-left: 0px;
    height: 66px;
  }*/
  .challengeItems .newIdea,
  .challengeItems .favorite {
    background-size: 16px;
    padding-left: 28px;
  }
  .challengeItems {
    padding-top: 40px;
  }
  .challengeDesp {
    padding: 15px;
  }
  .home {
    height: 53px;
  }
  .home img {
    width: 27px;
  }
}
